<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload your file</title>
</head>
<style>
    body {background-color: powderblue;text-align: center;}

</style>
<body>
    <form action = "" method = "POST"
         enctype = "multipart/form-data">

        <p><a href="/welcome">HOME</a></p>
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
    {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
</body>
</html>
